{% extends "base_generic.html" %}
{% block page_title %}Home{% endblock %}

{% block container %}
<h1 class="text-center">FOIA Manager</h1>
<p class="subheader h2 text-center">A source and FOIA management tool</p>
<p class="lead text-center">This is a part- organizational tool, part FOIA filing tool designed to help journalists keep track of their sources and records and to help them manage and file public records requests more easily. Everything I'm writing here is just a placeholder I'm using until I get a real dashboard set up.</p>
{% endblock %}