__pycache__/
*.pyc
.DS_Store

*.sqlite3

django_sourcebook/media/audio_files/*
django_sourcebook/media/audio_transcript/*
django_sourcebook/media/documents/*
django_sourcebook/media/foia_templates/*
django_sourcebook/credentials/*


geckodriver.log
nohup.out

*.code-workspace