[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
pytest = "*"
nox = "*"
pylint = "*"
hypothesis = "*"
# need specified output because black isn't yet in stable
black = "==19.10b0"
django-extensions = "*"
pygraphviz = "*"
pip-licenses = "*"
axe-selenium-python = "*"
selenium = "*"
pytest-django = "*"
pytest-cov = "*"

[packages]
django-autocomplete-light = "*"
django-taggit = "*"
psycopg2 = "*"
us = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-reversion = "*"
django-better-admin-arrayfield = "*"
oauth2client = "*"
google-api-python-client = "*"
mammoth = "*"
apscheduler = "*"
django-apscheduler = "*"
django-tables2 = "*"

[requires]
python_version = "3.7"
