{% extends "base_generic.html" %}
{% load static %}
{% block page_title %}File FOIA Requests{% endblock %}

{% block sidenav %}
{% include "foia/_sidenav.html" %}
{% endblock %}

{% block static_content %}
<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
              crossorigin="anonymous"></script>
{% endblock %}

{% block container %}
<h1>Batch File Public Records Request(s)</h1>
<form method="POST" action="">
    {% for message in messages %}
        <span class="{{message.tags}}">{{ message }}</span>
    {% endfor %}
    {% csrf_token %}
    {{ foia_base.non_field_errors }}
    {{ foia_formset.non_field_errors }}
    {% include "_fieldset_snippet.html" with form=foia_base legend_name="Public Records Act Template" %}
        <fieldset class="fieldset">
            <legend>Agencies</legend>
            {{ foia_formset.management_form }}
            <div id="formset-container">
                {% for form in foia_formset %}
                    {% include "_fieldset_snippet.html" with form=form legend_name="Agency" %}
                {% endfor %}
            </div>
            <div id="empty_form" style="display:none;">
                {% include "_fieldset_snippet.html" with form=foia_formset.empty_form legend_name="Agency" %}
            </div>
            <input type="hidden" value="1" name="additems" id="additems">
            <button id="additemsbutton" type="button" class="button">Add Agency</button>
        </fieldset>
    <button type="submit" class="button" id="submit-button">File Request</button>
</form>
{% endblock %}

{% block script_on_ready %}
<script>
    // from https://stackoverflow.com/questions/39095941/shall-i-use-django-dynamic-formset-or-there-is-a-bettor-solution
    var form_num = 0;
    var idPrefix = "#id_opts-form-";

    $(document).ready(function() {
          $("#additemsbutton").on('click',function(event)
          {
            ++form_num;
            $('#formset-container').append($('#empty_form').html().replace(/__prefix__/g, form_num));
            $("#additems").val(form_num + 1);
            // I have to increase the total number of forms in order to have my database add them all
            $("#id_form-TOTAL_FORMS").val(form_num + 1);
            // have the File Request text turn to File Requests when you add an agency to the request
            $("#submit-button").text((_, current_text) => form_num == 1 ? current_text + "s" : current_text);
         });

         var selectOpts = "input:not(:hidden)[id^='id_form-'][id$='-agency']";
         $(selectOpts).each(setSources);
         // Praise be: https://stackoverflow.com/questions/14346954/jquery-on-change-not-firing-for-dynamic-content
         $("#formset-container").on("change", selectOpts, setSources);

         function setSources() {
             console.log("hello");
            var elemId = $(this).attr("id");
            var idRegex = /id_form\-([0-9]+)\-agency/;
            var formNum = idRegex.exec(elemId)[1];
            clearSources(formNum);
            getSources(formNum);
         }

       });

    function getSources(formNum) {
        var datalistId = $("#id_form-" + formNum + "-agency").attr("list");
        var inputValue = $("#id_form-" + formNum + "-agency").val();
        var entityId = $("#" + datalistId + " option[value='" + inputValue + "']").attr("data-id-value");
        $.ajax({
            url: "{% url 'source-match-entity' %}",
            type: "GET",
            data: {"q": entityId},
            dataType: "json",
            success: function(data) {
                for (var source in data.results) {
                    var sourceContents = data.results[source];
                    var optionHtml = '<option value="' + sourceContents.id + '">' + sourceContents.text + '</option>';
                    $("#id_form-" + formNum + "-recipient").append(optionHtml);
                }
            }
        });
    }

    function clearSources(formNum) {
        $("#id_form-" + formNum + "-recipient").find("option").each(function() {
            // only remove options if they aren't ------
            if ( $.isNumeric( $( this).val() ) ) $(this).remove();
        })
    }

  </script>
{% endblock %}