{% extends "base_generic.html" %}
{% block page_title %}Source List{% endblock %}
{% block sidenav %}
{% include "sourcebook/_sidenav.html" %}
{% endblock %}
{% block container %}
<h1>Source List</h1>
{% if query %}
<div class="query-results text-center">
    <p class="lead">Your search for '{{query}}' yielded {{count}} results</p>
</div>
{% endif %}
<table>
    <thead>
        <tr>
            {% for field in fields %}
            <th>{{field}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in source_list %}
        <tr>
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.title}}</td>
            <td>{{item.entity.name}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}